.flex {
  display: flex;
}

.grid {
  display: grid;
}

.column {
  flex-direction: column;
}

.flex-horizon_center {
  display: flex;
  align-items: center;
}

.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-vertical_center {
  display: flex;
  justify-content: center;
}

.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vertical-center {
  justify-self: center;
}

.right {
  margin-left: auto;
}

.relatvie {
  position: relative;
}

.flex-column-gap {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.v-label {
  opacity: 1 !important;
}

// skeleton
@keyframes fadeBackground {
  0% {
    background-color: rgb(220, 220, 220);
  }
  50% {
    background-color: rgb(240, 240, 240);
  }
  100% {
    background-color: rgb(220, 220, 220);
  }
}

// table
.table-default {
  width: 100%;
  text-align: center;
  border: 1px solid #cae3ff;
  overflow: hidden;
  border-spacing: 0;
  border-radius: 16px;

  th {
    font-family: notosans;
    font-size: 14px;
    background-color: #f1f8ff;
    color: #66686b;
    border-right: 1px solid #cae3ff;
    padding: 15px 10px;

    &:first-child {
      border-top-left-radius: 15px;
    }
    &:last-child {
      border-top-right-radius: 15px;
      border-right: none;
    }
  }

  td {
    font-family: notosansregular;
    font-size: 14px;
    color: #292929;
    // border-bottom: 1px solid #cae3ff;
    border-right: 1px solid #cae3ff;
    border-bottom: 1px solid #cae3ff;
    padding: 22px 10px;

    .center {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
    }
    &:last-child {
      border-right: none;
    }
  }

  tr:last-child td {
    border-bottom: none;
  }

  .more {
    border: 1px solid #258bff;
    background: #fff;
    color: #258bff;
    border-radius: 20px;
    padding: 7px 20px;
    font-family: "notosans";
    cursor: pointer;

    &:hover {
      background-color: var(--main-blue);
      color: white;
      transition: 200ms ease;
    }
  }
}

// badge
.badge {
  font-size: 12px;
  padding: 3px 14px;
  border-radius: 20px;
  font-family: "notosansregular";

  &.completed {
    color: #54c3a2;
    background: #d6f7ed;
  }
  &.incomplete {
    color: #fb82a0;
    background: #ffe6ec;
  }
  &.not-started {
    color: #9a9a9a;
    background: #e8e8e8;
  }
}
.star {
  display: flex;
  width: 28px;
  height: 28px;
  background-image: url("@/assets/image/icon-priority.png");
  background-size: contain;
}

// pagination
.pagination-default {
  .v-pagination__list li {
    border: 1px solid #cae3ff !important;
    border-radius: 6px !important;
  }

  .v-pagination__list .v-pagination__item--is-active {
    background: #3d90ef !important;
  }

  .v-pagination__list .v-pagination__item .v-btn__content {
    color: #292929 !important;
  }

  .v-pagination__list
    .v-pagination__item.v-pagination__item--is-active
    .v-btn__content {
    color: #fff !important;
  }
}

/* v-radio */
:deep(.v-radio) {
  .v-selection-control {
    min-height: unset;
  }

  .v-selection-control__input {
    .v-selection-control__radio {
      width: 20px;
      height: 20px;
      border: 2px solid #88c0ff !important;
      border-radius: 50%;
      background-color: transparent;
    }

    .v-selection-control__radio::before {
      opacity: 0;
      border-radius: 50%;
    }
  }

  .v-selection-control--dirty {
    .v-selection-control__radio {
      border: 6px solid #3d90ef !important;
      background-color: #fff;
    }
  }

  .v-label {
    font-size: 16px;
    color: #292929;
    opacity: 1;
  }
}

// progressbar
.chart_gray-bg,
.chart_blue-bg {
  position: relative;
  border-radius: 20px;
}

.chart_blue-bg {
  background-color: var(--chart-blue-bg);
  overflow: hidden;
}

.chart_gray-bg {
  background-color: var(--chart-gray-bg);
  overflow: hidden;
}

.chart_bar {
  position: absolute;
  height: inherit;
  border-radius: inherit;
  background-color: var(--main-blue);
}

.wrap-percent_blue-bg {
  @extend .flex-horizon_center;
  width: fit-content;
  padding: 8px 25px;
  color: var(--main-black);
  background-color: var(--main-lightblue);
  border-radius: 11px;
}

// scrollbar
.scroll_able {
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.scroll_able::-webkit-scrollbar {
  width: 22px;
  height: 16px;
  background-color: transparent;
  border-radius: 10px;
}

.scroll_able::-webkit-scrollbar-track {
  display: none;
  border-radius: 10px;
  background-color: transparent;
}

.scroll_able::-webkit-scrollbar-thumb {
  background-color: var(--chart-blue-bg);
  background-clip: padding-box;
  border: 8px solid transparent;
  border-radius: 24px;
}

// checkbox
input[type="checkbox"] {
  position: relative;
  background: #fff !important;
  border: 1px solid #88c0ff;
  border-radius: 3px;
  cursor: pointer;
  height: 20px;
  width: 20px;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="checkbox"]::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='12' viewBox='0 0 14 12' fill='none'%3E%3Cpath d='M2 6.57143L5 10L12 2' stroke='white' stroke-width='2' stroke-linecap='square'/%3E%3C/svg%3E");
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  display: none;
}

input[type="checkbox"]:checked {
  background: #3d90ef !important;
  border-color: #3d90ef;
}

input[type="checkbox"]:checked::after {
  display: block;
}

// datepicker
.custom-datepicker {
  width: 340px !important;
  font-family: "notosansregular" !important;

  .v-input__details {
    display: none;
  }

  .dp__outer_menu_wrap {
    position: absolute;
    left: 380px !important;
    top: -180px !important;
  }
  .dp__menu {
    border: 1px solid #cae3ff !important;
    padding: 16px;
    border-radius: 12px !important;
  }
  .dp__calendar_header {
    font-weight: normal;
  }
  .dp__today {
    border: none;
  }
  .dp__action_row {
    justify-content: center !important;
  }
  .dp__range_end {
    border-radius: 0 8px 8px 0 !important;
  }
  .dp__range_start {
    border-radius: 8px 0 0 8px !important;
  }
  .dp__range_end,
  .dp__range_start,
  .dp__active_date {
    background: #3d90ef !important;
  }
  .dp__range_between {
    background: #dbecff !important;
  }
  .dp__selection_preview {
    width: 0px !important;
    display: none;
  }
  .dp__action_button {
    padding: 10px 14px !important;
    font-size: 14px !important;
    height: 28px !important;
    border-radius: 7px !important;
    font-family: "notosansregular";
  }
  .dp__action_select {
    background: #3d90ef !important;
  }
  .dp__icon {
    stroke: #3d90ef !important;
    fill: #3d90ef !important;
  }
  .dp__input {
    position: relative;
    border: 1px solid #88c0ff !important;
    border-radius: 12px;
    padding: 12px 20px;
    font-size: 18px !important;
    font-family: "notosansregular";
  }
  .dp__input_icon {
    color: #2c9aea !important;
    position: absolute !important;
    left: 286px !important;
  }
  .dp__input_icons {
    width: 20px;
    height: 20px;
  }
  .dp__clear_icon {
    display: none !important;
  }
  .date-picker-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .date-nav-btn {
    color: #2c9aea !important;
    font-weight: 600;
    display: block;
    z-index: 10;
    margin: 0 !important;
  }
  .date-nav-btn.left-btn {
    position: absolute;
    left: 60px;
    display: block;
    z-index: 10;
  }
  .date-nav-btn.right-btn {
    position: absolute;
    right: 60px;
  }
  .date-nav-btn:disabled {
    opacity: 0.25;
  }
  .dp__arrow_top, .dp__arrow_bottom {
    display: none;
  }
}

.isActive .custom-datepicker .dp__input {
  border: 1px solid #bababa !important;
}
.isActive .dp__input_icon {
  color: #9A9A9A !important;
}

.custom-datepicker .dp--clear-btn {
  display: none;
}

.scrollbar {
  overflow-y: scroll;
}
.scrollbar::-webkit-scrollbar {
  width: 10px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #cae3ff;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}